body{
    margin: 0px !important;
    /* font-size: 18px; ***other pages follow default size*** */
}
svg {
    position: absolute;
    left:200px;
    width: 1000px;
    height: 1040px;
}

svg rect {
    fill: #05240B;
    stroke: #4CAF50;
    stroke-width: 5;
    opacity: 0.5;
}

svg line {
    fill: white;
    stroke: #4CAF50;
    stroke-width: 4;
}

#footer{
    color: white;
    background-color: #05240B;
    height: 30px;
    text-align: center;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
}

#footer a{
    color: white;
    text-decoration: none;
}

svg text {
    fill: white;
}