body {
    margin: 0px;
}

#sidebartoggler { display: none; }

.toggle {
    position: fixed;
    margin: 10px;
    z-index: 1;
    font-size: 30px;
    color: black;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.panel-text{
    text-align: center;
    color: #fff;
    background-size: cover !important;
    display: grid;
}
.panel-text h2, p, span{
    padding: 10px;
}
.left-panel div{
    margin: 20%;
}

.right-panel div{
    margin: 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#container {
    margin-left: 200px;
}

.main-heading {
    position: absolute;
    text-align: center;
    color: white;
    left: 50%;
    font-size: 50px;
}

.main-image {
    width: 100%;
}

.caption {
    position: absolute;
    color: white;
    left: 42%;
    margin-top: 20%;
}

.right-panel {
    height: 300px;
    width: 40%;
    background: bisque;
    margin-left: 60%;
}

.left-panel {
    height: 600px;
    width: 60%;
    background: aqua;
    float: left;
}

.items {
    float: left;
    width: 300px;
    height: 400px;
    background: burlywood;
    margin-left: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.items img{
    width: 100%;
    margin-top: 27px;
}