body{
    /* background-color: rgb(39, 39, 39); */
    /* background-image: url("footballBackground.jpg"); */
    background-size: 100%;
}
h1{
    color: aliceblue;
}
.name_Set{
    margin: -75px 10px 00;   
    width: 258px; 
    height: 340 px;  
    /* background-color:rgb(253, 221, 221);   */
    background-color:none; 
    float: right;
    /* opacity: 0.5; */
} 
.names{
    width: 230px;
    height: 60px; 
    margin: 10px; 
    padding: 5px;
    background-color:rgb(51, 51, 51);
    border-radius: 5px;
    color: beige;
    font-size: 25px;  
    font-weight:bold; 
    opacity: 1;
}
.secound_name{
    color: beige;
    font-size: 18px;
    font-weight: 100;
}
#plustext{
    width: 30px;
    height: 30px;
}
#minustext{
    width: 30px;
    height: 30px;
}
.zoomInOut{
    /* float: right; */
    position: absolute;
    right: 0;
    bottom: 0;
}

#imgSize{
    width: 100%;
    
}
#displayImg{
    width: 100%;
    height:auto;
    /* float: left; */
    position: relative;
    text-align: center;
    font-size: 60px;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    /* border:2px;
    border-color: black; */
}
.hr{
    width: 100%; 
    height: 20px; 
    border-bottom: 1px solid black; 
    text-align: center;
}
.hr_text{
    font-size: 40px; 
    font-family: monospace;
    background-color: white; 
    padding: 0 10px;
}
#margin{
    margin: 25px;
    padding-left: 20px; 
    
}
.discript {
    padding: 10px;
  }
.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    float: left; 
    margin-right: 40px;   
}
.mainRowContainer{
    width: 100%;
    float: left; 
    margin: 15px;
}