body{
    /* background-color: rgb(39, 39, 39); */
    /* background-image: url("footballBackground.jpg"); */
    background-size: 100%;
}
h1{
    color: aliceblue;
}
.name_Set{
    margin: -75px 10px 00;   
    width: 258px; 
    height: 340 px;  
    /* background-color:rgb(253, 221, 221);   */
    background-color:none; 
    float: right;
    /* opacity: 0.5; */
} 
.names{
    width: 230px;
    height: 60px; 
    margin: 10px; 
    padding: 5px;
    background-color:rgb(51, 51, 51);
    border-radius: 5px;
    color: beige;
    font-size: 25px;  
    font-weight:bold; 
    opacity: 1;
}
.secound_name{
    color: beige;
    font-size: 18px;
    font-weight: 100;
}
#plustext{
    width: 30px;
    height: 30px;
}
#minustext{
    width: 30px;
    height: 30px;
}
.zoomInOut{
    /* float: right; */
    position: absolute;
    right: 0;
    bottom: 0;
}

#imgSize{
    width: 100%; 
}
#displayImg{
    width: 100%;
    height:auto;
    background-size: cover;
    /* float: left; */
    position: relative;
    text-align: center;
    font-size: 60px;
    color: white;
}

.grabUser {
    /* background-color: rgb(1, 46, 11); */
    background-color: rgb(78, 168, 108);
    color: white;
    font-size: 60px; 
    font-weight: bold;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
  }

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    /* border:2px;
    border-color: black; */
}
.hr{
    width: 100%; 
    height: 20px; 
    border-bottom: 1px solid black; 
    text-align: center;
}
.hr_text{
    font-size: 40px; 
    font-family: monospace;
    background-color: white; 
    padding: 0 10px;
}
#margin{
    margin: 25px;
    padding-left: 20px; 
    
}
.discript {
    padding: 10px;
    background-color: white;
    color: black;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}
.discript:hover {
    background-color: #555555;
    color: white;
  }
.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    float: left; 
    margin-right: 25px;   
}
.mainRowContainer{
    width: 100%;
    float: left; 
    margin: 15px;
}

.button {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer; 
    position: relative;
    
  }
  .btn {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .btn:hover {
    background-color: #555555;
    color: white;
  }

  #scrollUpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(109, 101, 101, 0.623);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #scrollUpBtn:hover {
    background-color: #555;
  }
/* Quantity Up Down */
form {
    width: 300px;
    text-align: center;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 12px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background-color: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
  }
  
  form #decrease {
    margin-right: -4px;
  }
  
  form #increase {
    margin-left: -4px;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  

  .wenumber{
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 32px;
  }

  
  /* input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  } */