body{
    margin: 0;
    counter-reset: rules rulesNav;
}

#sideContainer{
    width: 200px;
    /* float: right; */
    position: absolute;
    margin: 0px;
    padding: 0px;
    right: 0px;
    top: 0px; 
    background-color: #05240B;
    height: 670px;
    overflow: auto;
    color: #fff;
}

#sideContainer ul{
    padding-left: 4px;
}

#sideContainer ul li a::before{
    counter-increment: rulesNav;
    content: counter(rulesNav) ". ";
}

.rules h3::before{
    counter-increment: rules;
    content: counter(rules) ". ";
}


#sideContainer a{
    display: block;
    color: #fff !important;
    padding: 8px 4px;
    text-decoration: none;
}

#sideContainer a:hover {
    background-color: #555;
    color: white;
}

#sideContainer li a {
    padding: 8px 16px;
}

#pageContainer{
    width: 74%;
    height: 715px;
    /* float: left; */
    overflow-y: scroll;
    /* margin: 0%; */
    position: absolute;
    left: 202px;
    top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#history div, .rules{
    border: 3px solid #4CAF50;
    padding: 5px;
}

.rules h3{
    position: -webkit-sticky;
    position: sticky;
    top: 35px;
    background-color: white;
    width:70%; 
}

h2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: white;
    width:68%; 
    margin-left: 4px;
    /* border: 2px solid #4CAF50; */
}

#history h2{
    width:98%; 
    /* margin-right: 14px; */
}

.rules::after {
  content: "";
  clear: both;
  display: table;
}

.text{
    float: left;
    width:69%; 
}

#img img{
    float: right;
    width:30%; 
    height: 200px;
}

/* .zoomInOut{
    position: absolute;
    right: 0;
    bottom: 30px;
} */

#footer{
    color: white;
    background-color: #05240B;
    height: 30px;
    text-align: center;
    clear: both;
    bottom: 0px;
    margin: 0px;
    padding: 2px;
    position: absolute;
    width: 99%;
}

#footer a{
    color: white;
    text-decoration: none;
}

/* webkit support for sticky headings */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
