body{
    /* background-color: rgb(39, 39, 39); */
    background-image: url("footballBackground.jpg");
    background-size: 100%;
}
h1{
    color: aliceblue;
}
.name_Set{
    margin: -75px 10px 00;   
    width: 258px; 
    height: 340 px;  
    /* background-color:rgb(253, 221, 221);   */
    background-color:none; 
    float: right;
    opacity: 0.5;
}
.names{
    width: 230px;
    height: 60px; 
    margin: 10px; 
    padding: 5px;
    background-color:rgb(51, 51, 51);
    border-radius: 5px;
    color: beige;
    font-size: 25px;  
    font-weight:bold; 
    opacity: 1;
}
.secound_name{
    color: beige;
    font-size: 18px;
    font-weight: 100;
}
#plustext{
    width: 30px;
    height: 30px;
}
#minustext{
    width: 30px;
    height: 30px;
}
.zoomInOut{
    /* float: right; */
    position: absolute;
    right: 0;
    bottom: 0;
}